@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.container {
    margin: 0 auto;
    width: 1000px;
    max-width: 100%;
}

header {
    background-image: url(images/banner.jpg);
    background-size: cover;
    background-position: center center;
    height: 300px;
    margin-bottom: 2rem;
}

nav {
    display: flex;
    font-weight: bold;
    align-items: center;
    margin: 3rem 0 2rem;
}

.logo {
    font-size: 3rem;
    margin-right: 1rem;
}

.inner-nav {
    flex: 1;
}

.row {
    display: flex;
    justify-content: space-between;
}

.big {
    font-size: 2.5rem;
    margin: 0;
}

.blue {
    color: #007ff4;
    margin: 0;
}

nav ul {
    display: flex;
    padding: 0;
    list-style-type: none;
    margin: 0;
}

nav a {
    color: black;
    text-decoration: none;
    margin-left: 2rem;
}

nav a.active {
    color: #007ff4;
}

.col {
    padding: 1rem;
    flex: 1;
}

.col img {
    width: 100%;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

.text-center {
    text-align: center;
}

button {
    background-color: #007ff4;
    border: none;
    color: white;
    font-size: 1.5rem;
    padding: 1rem 2rem;
}

@media screen and (max-width: 768px) {
    .hidden-mobile {
        display: none;
    }

    .logo {
        margin-left: 1rem;
    }

    .row {
        flex-direction: column;
        align-items: center;
    }
}
