@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: #ffe8c8;
    border-left: 30px solid #764400;
    border-right: 30px solid #764400;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    margin: 0;
    padding-top: 2rem;
    min-height: 100vh;
}

.container {
    padding: 2rem;
    margin: auto;
    width: 1000px;
    max-width: 100%;
}

.logo {
    color: #764400;
    font-size: 4rem;
}

h1 {
    color: #a66000;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 4rem;
    margin: 0;
}

h1 a {
    transform: scale(0.7);
}

a {
    display: inline-block;
    color: white;
    padding: 1rem 2rem;
    position: relative;
    text-decoration: none;
}

a::after {
    background-color: #a66000;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: skew(-30deg);
    z-index: -1;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.col {
    flex: 1;
}

.col:first-child {
    margin-right: 4rem;
}

.text {
    font-size: 2rem;
}

.text p {
    font-weight: 200;
}

img {
    box-shadow: 15px 15px #a66000;
    margin: 3rem 0;
}

img.shadow-reverse {
    box-shadow: -15px -15px #a66000;
}

.block {
    font-size: 2.5rem;
    display: block;
    margin-top: 5rem;
    text-align: center;
}

@media screen and (max-width: 768px) {
    h1 {
        text-align: center;
    }

    .col {
        text-align: center;
    }

    .col:first-child {
        margin-right: 0;
    }
}
