@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

img {
    max-width: 100%;
}

.container {
    margin: 0 auto;
    padding: 1rem;
    width: 1000px;
    max-width: 100%;
}

.text-center {
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 0 0.5rem;
}

.logo i {
    font-size: 3rem;
    margin-right: 1rem;
}

time {
    font-weight: bold;
}

nav {
    border-top: 2px solid #c4c4c4;
    border-bottom: 2px solid #c4c4c4;
    margin: 1rem 0;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    list-style-type: none;
}

nav a {
    color: black;
    text-decoration: none;
}

.row {
    display: flex;
}

.col {
    padding: 1.5rem;
    flex: 1;
}

.col:not(:last-child) {
    border-right: 2px solid #c4c4c4;
}

main p {
    line-height: 1.5rem;
    letter-spacing: 1px;
}

main h3 {
    margin-top: 0;
}

@media screen and (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .col:not(:last-child) {
        border-right: none;
    }
}
