:root {
    --color: #00c2ff
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    height: 90vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(car-bg.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
    font-family: "merienda";
    padding: 0 200px;
}

main .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0;
}

main .top .right i {
    font-size: 2rem;
    padding: 0 10px;
}

main .top .right span {
    font-size: 2rem;
}

main .top .links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    list-style: none;
}

main .top .links ul li {
    padding: 0 10px;
    text-transform: capitalize;
    font-size: 1.2rem;
}

main .top .links ul .btn {
    background-color: var(--color);
    display: flex;
    align-items: center;
    margin-top: -30px;
    padding: 5px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 1s;
}

main .top .links ul .btn:hover {
    background-color: transparent;
    border: 1px solid #fff;
}

main .top .links ul li a {
    text-decoration: none;
    color: #fff;
    padding: 0 10px;
    transition: all 1s;
}

main .top .links ul li a::after {
    content: "";
    display: block;
    width: 0;
    background-color: var(--color) !important;
    transition: all 2s;
    height: 2px;
}

main .top .links ul li a:hover {
    color: var(--color);
    /* text-decoration: underline; */
}

main .top .links ul li a:hover::after {
    width: 100%;
}

/* body */
.body {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.body .first {
    font-size: 3rem;
    color: var(--color);
    text-transform: capitalize;
}

.body .second {
    font-size: 2rem;
    text-transform: capitalize;
    padding: 20px 0;
}

.body .button button {
    padding: 15px 80px;
    background-color: var(--color);
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 2rem;
    color: #fff;
    text-transform: capitalize;
}

/* footer */
footer {
    background-color: #000;
    color: #fff;
    height: 10vh;
    padding: 5px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer span {
    display: block;
    font-size: 1.4rem;
    text-transform: capitalize;
}

footer span:first-child {
    color: var(--color);
    font-weight: 900;
}